.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.chatbot-toggle {
    /* color: white */
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    font-size: 16px;
}
/* Solo muestra el modal cuando el chat está cerrado */
.chatbot-container.closed .chatbot-toggle:hover::after {
    content: "Conversá con MegaBot, nuestro Asistente Virtual";
    position: absolute;
    top: -80px; 
    left: -80px; 
    transform: translateX(-50px) translateY(-30px) ; /* Ajuste adicional para mover hacia arriba */
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 1001; 
    background-color: black;
    color: white
}

.chat-interface {
    background-color: white;
    box-shadow: 0 6px 6px rgba(0,0,0,0.1);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.messages {
    height: 200px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.message {
    margin: 10px 0;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 20px;
    width: fit-content;
}

.message.user {
    background-color: black;
    color: white;
    align-self: flex-end;
}

.message-form {
    display: flex;
    gap: 10px;
}

.message-form input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.message-form button {
    background-color:black;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}
.loader {
    text-align: center;
    padding: 10px;
    color: #999;
}
