.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    
}

.chatbot-toggle {
    /* color: white */
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    font-size: 16px;
}
/* Solo muestra el modal cuando el chat está cerrado */
.chatbot-container.closed .chatbot-toggle:hover::after {
    content: "¡MegaBot, nuestro Asistente Virtual, te responde!";
    position: absolute;
    top: -80px; 
    left: -80px; 
    transform: translateX(-50px) translateY(-30px) ; /* Ajuste adicional para mover hacia arriba */
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 1001; 
    background-color: black;
    color: white
}

.chat-interface {
    background-color: white;
    box-shadow: 0 0 6px 6px rgba(0,0,0,0.1);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;   
    /* display: flex; 
    flex-direction: column */
}

.messages {
    height: 300px;
    overflow-y: auto;
    overflow: auto;
    margin-bottom: 20px;
    scrollbar-width: none;      
}
/* Oculta los scrollbars en Webkit (Chrome, Safari, etc.) */
.messages::-webkit-scrollbar {
    display: none;
  }
.message {
    margin: 5px ;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 15px;
    width: fit-content;   
    max-width: 89%; /* Establecer un ancho máximo */
    word-wrap: break-word;   
}
.message.MegaBot span {
    position: relative;
    top: -7px;
} 
.message.user {
    background-color: black;
    color: white;
    align-self: flex-end; 
    align-items:end;
       
}

.message-form {
    display: flex;
    gap: 10px;
}

.message-form input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.message-form button {
    background-color:black;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}
.loader {
    text-align: center;
    padding: 10px;
    color: #999;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.inputText.typing {
	animation: blink 1s infinite;
	color: rgb(5, 5, 66);
	font-weight: bolder;
}

.chatbot-image {
    margin-right: 10px;
    width: 27px;
    height: 27px;    
}